body{
    text-align: center;
    background-color: blue;
}
#main{
    height: 150px;
    width: 150px;
}
#img2{
    height: 150px;
    width: 150px;
}
div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}